<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style_helppage.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>How it works?</title>
   
</head>
<body>
    <div class="div-1">
        <div class="heading">
            <h1>How Should I Use This App ?</h1>
        </div>
        <div class="content">
            <div class="div-2">
                <ul>
            <li><span>We tailor daily calorie intake recommendations based on your unique Total Daily Energy Expenditure (TDEE) and Basal Metabolic Rate (BMR).
                 Our platform operates with precision, requiring essential user inputs such as age, height, gender, and activity level to generate personalized estimations.
            </span></li>

            <li><span>You can keep track of the daily energy amount of the their diet.
                    With the help of the Edamam API the nutrients and the calories can be provided based on its weight and amount.
                    You can also track the nutrients consumption on a daily basis.</span></li>

            <li><span>Data resets occur seamlessly every 24 hours, ensuring a fresh start for each new day of tracking.</span></li>

            <li><span>With a simple click on <span style="color: green;">'Add'</span>, the meticulously calculated nutrients and calorie data seamlessly integrate into our secure databases, remaining accessible for the duration of 24 hours.
                 This ensures a comprehensive overview of your dietary habits over the course of the day, facilitating informed decision-making and progress tracking towards your health and fitness goals.</span></li>

                 <li><span>Should the need arise to abandon the current tracking session, our platform offers the option to swiftly discard the process by selecting <span style="color: green;">'Discard'</span>. This allows users to reset their progress and begin anew,
                     ensuring flexibility and ease-of-use in managing their dietary journey.</span></li>
                </ul>
                <p class="disclaimer">Disclaimer: Please note that the numerical values provided for daily tracking represent a generalized approach to monitoring consumption. While our platform offers valuable insights,
                     we recommend seeking guidance from a qualified dietitian for personalized and precise dietary advice.</p>

        </div>
        </div>
    </div>
</body>
</html>