<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="public/profilepic.jpg" alt="your profile photo">
        <!---<h1>Hi! <%= username %> </h1> -->
        <button>Edit profile</button>
        <div class="divider"></div>

    </div>
</body>
</html>